# GCP
GOOGLE_APPLICATION_CREDENTIALS='keys/service_account.json'

# Vertex AI Search
VERTEX_SEARCH_LOCATION=''
VERTEX_SEARCH_DATASTORE_ID=''
VERTEX_SEARCH_COLLECTION=''

# GCP - Cloud Storage
GCS_BUCKET_KNOWLEDGE=''
GCS_INVENTORY_SCHEMAS_PATH=''
